<!DOCTYPE html>
<html>
  <head>   
    
    {% block head %}
      <title>Gym Manager</title>
    {% endblock%}

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header>
      <div class="links">
        <a  class="active" href="/">Cachorros</a>
        <a href="/members">Membros</a>
      </div>
    </header>

    {%block content%}{%endblock %}
   
  </body>
  
</html>