<div class="item">
  <div>Foto</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://"
      value="{{ vet.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Nome</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome do seu Pet"
      value="{{ vet.name }}"
    >
  </div>  
</div>

<div class="item">
  <div>Contato</div>
  <div>
    <input 
      type="text" 
      name="telephone" 
      placeholder="00 - 0000-0000"
      value="{{ vet.telephone }}"
    >
  </div>  
</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input 
      type="email" 
      name="email"
      value="{{ vet.email }}"
    >
  </div>  
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ vet.birth }}"
    >
  </div>    
</div>

<div class="item">
<div>Gênero</div>

  <span>
    <input 
      type="radio" 
      name="gender" 
      value="M"
      {% if vet.gender == 'M' %}
        checked
      {% endif %}
    >Masculino
  </span>

  <span>
    <input 
      type="radio" 
      name="gender"
      value="F"
      {% if vet.gender == 'F' %}
        checked
      {% endif %}
    >Feminino
  </span>

</div>

<button type="submit">Salvar</button>