{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="POST" action="/dogs?_method=PUT">
    <section class="avatar" style="max-height: 820px; background: url({{ dog.avatar_url }}) no-repeat center center / cover" ></section>
    
    <section class="details">
      <h3>Editar dados do Pet</h3>

      {% include 'dogs/fields.njk' %}

      <input type="hidden" name="id" value={{ dog.id }}>
    

    </section>
  </form>

{% endblock content %}