<div class="item">
  <div>Foto</div>
  <input 
    type="url" 
    name="avatar_url" 
    placeholder="  http://"
  >
</div>

<div class="item">
  <div>Nome</div>
  <input 
    type="text" 
    name="name" 
    placeholder="  Nome do seu Pet"
  >
</div>

<div class="item">
  <div>Data de Nascimento</div>
    <input 
      type="date" 
      name="birth"
    >
</div>

<div class="item">
<div>Raça</div>
  <input 
    type="text" 
    name="breed" 
    placeholder="  Raça"
  >
</div>

<div class="item">
<div>Gênero</div>

  <span>
    <input 
      type="radio" 
      name="gender" 
      checked="checked" 
      value="M"
    >Masculino
  </span>

  <span>
    <input 
      type="radio" 
      name="gender" 
      checked="checked" 
      value="F"
    >Feminino
  </span>

</div>

<div class="item">
  <div>Habilidades</div>
  <input 
    type="text" 
    name="abiliity" 
    placeholder="  separe as habilidades por virgula"
  >
</div>

<div class="item">
<div>Ultima Vacinação</div>
  <input 
    type="date" 
    name="vaccine"
  >
</div>

<button type="submit">Salvar</button>