<div class="item">
  <div>Foto</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://"
      value="{{ dog.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Nome</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome do seu Pet"
      value="{{ dog.name }}"
    >
  </div>  
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ dog.birth }}"
    >
  </div>    
</div>

<div class="item">
  <div>Raça</div>
  <div>
    <input 
      type="text" 
      name="breed" 
      placeholder="Raça"
      value="{{ dog.breed }}"
    >
  </div>  
</div>

<div class="item">
<div>Gênero</div>

  <span>
    <input 
      type="radio" 
      name="gender" 
      value="M"
      {% if dog.gender == 'M' %}
        checked
      {% endif %}
    >Macho
  </span>

  <span>
    <input 
      type="radio" 
      name="gender"
      value="F"
      {% if dog.gender == 'F' %}
        checked
      {% endif %}
    >Fêmea
  </span>

</div>

<div class="item">
  <div>Habilidades</div>
  <div>
    <input 
      type="text" 
      name="abiliity" 
      placeholder="separe as habilidades por virgula"
      value="{{ dog.abiliity }}"
    >
  </div>  
</div>

<div class="item">
  <div>Ultima Vacinação</div>
  <div>
    <input 
      type="date" 
      name="vaccine"
      value="{{ dog.vaccine }}"
    >
  </div>  
</div>

<button type="submit">Salvar</button>