{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="max-height: 710px; background: url(http://source.unsplash.com/collection/3336195/400x400) no-repeat center center / cover" ></section>
    
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Nome do seu Pet</div>
        <div>Iti Maria</div>
      </div>

      <div class="item">
        <div>Genero</div>
        <div>Macho</div>
      </div>

      <div class="item">
        <div>Raça</div>
        <div>Alihasa Apso</div>
      </div>

      <div class="item">
        <div>Habilidades</div>
        <span>Pula-corda</span>
        <span>Comprimenta</span>
      </div>

      <div class="item">
        <div>Aniverssário</div>
        <div>14 de Junho</div>
      </div>

      
      <div class="vacina">
        <section>
          <div>Ultima vacina</div>
          <div>05 de março 2019</div>          
        </section>
        <section>
          <img src="/assets/alert-triangle.svg" alt="vacina">
        </section>
      </div>


    </section>
  </div>

{% endblock content %}